body {
    background-color: lightgreen;
}

h1 {
    color: lightseagreen;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.table {
    position: absolute;
    font-size: 150%;
    width: 480px;
    height: 200px;
    z-index: 15;
    top: 20%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: rgb(200, 240, 220);
}